/*MAIN*/
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
*/
/*FONTS*/
a{
    color: #2C1500;
    text-decoration: none; 
}
button{
    border: none; 
    outline: none;
    background-color: #fff;
    padding: 0;
}
p,a,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
input{
    border-color: #fff;
    border-style: solid;
}
/*BODY*/
body{
    box-sizing: border-box;
    padding-left: 120px;
}
.container{
    max-width: 1280px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; 
}
/*Body First*/
.Body_First{
    margin: 0 auto;
    height: 742px;
}
.Img_Body_1{
    width: 608px;
}
.First_Slide{
    width: 1280px;
    height: 740px;
    display: flex;
    flex-wrap: wrap;
}
.Slide_Content{
    flex-direction: column;
}
.Text_1_Slide{
    width: 523px;
    height: 286px;
    padding: 186px 72px 110px 77px;
}
.Text_1_Slide_1_1{
    height: 166px;
    font-family: 'Montserrat', sans-serif;
    font-size: 68px;/*68*/
    font-weight: 500;
    line-height: 82.89px;
    color: #156963;
}
.Text_1_Slide_1_2{    
    height: 96px;
    width: 493px;
    margin-top: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #564433;
}
/*Buttons*/
.Two_Buttons{
    width: 586px;
    height: 160px;
    display: flex;
    padding: 0px 0px 0px 86px;
}
.First_Button{
    display: flex;
    flex-direction: column;
    height: 160px;
}

.First_Button_Content{
    width: 268px;
    height: 83px;
    padding: 37px 0px 0px 0px;
    
}
.First_Button_Content_Slider{
    width: 145px;
    height: 32px;
    color: #333333;
    opacity: 50%;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
}
.First_Button_Content_Tittle{
    width: 105px;
    height: 29px;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
}
.First_Button_Content_Text{
    width: 208px;
    height: 29px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #156963;
    padding: 12px 0px 0px 4px;
}
.Second_Button{
    width: 320px;
    height: 160px;  
    background-color: #156963;
}
.Second_Button_Content{
    width: 222px;
    height: 83px;
    margin: 0px 0px 0px 49px;
}
.Second_Button_Content_Slider{
    width: 97;
    height: 32px;
    color: #F2F2F2;
    opacity: 50%;
    display: flex;
    flex-direction: row;
}
.Second_Button_Content_Tittle{
    width: 57px;
    height: 29px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    
}
.Second_Button_Content_Text{
    padding-top: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
    left: 0;
}
/*Body Second (Catalog 1)*/
.Body_Second{
    height: 587px;
    padding: 142px 56px 0px 56px;
    display: flex;
    flex-direction: column;
}
.Catalog_1_1,.Catalog_1_2,.Catalog_1_3,.Catalog_1_4{
    width: 268px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    color: #564433;
    border-style:  solid;
    border-width: 2px;
    border-color:#E0E0E0;
}
.Catalog{
    display: flex;
    flex-direction: column;
}
.Catalog_First{
    display: flex;
    justify-content: space-between;
    width: 1168px;
    height: 155px;

}
.Catalog_1_1{
    display: flex;
    flex-wrap: wrap;
    
}
.Catalog_1_1_logo{
    width: 201px;
    height: 48px;
    padding: 22px 51px 0px 16px;
    display: flex;
}
.Catalog_1_1_tittle{
    width: 137px;
    height: 48px;
    padding: 0px 0px 0px 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;  
    color: #156963;
}
.Catalog_1_1_text{
    width: 236px;
    height: 48px;
    padding: 16px 16px 21px 16px;

}
/*Body Second (Catalog 2)*/
.Catalog_Second{
    width: 1168px;
    height: 352px;
    margin-top: 80px;
}
.Catalog_2_1{
    display: flex;
    flex-direction: column;
}
.Catalog_2_Head{
    width: 1168px;
    height: 47px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-color: #fff;
    border-bottom: grey;
    border-style: solid;
    border-width: 1px;
}
.Catalog_2_Head_1{
    height: 24px;
    padding: 3.5;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Catalog_2_Head_1_Button{
    margin-left: 876px;
    height: 31px;
    padding: 8px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Catalog_2_Head_1_Button_Img{
    width: 12px;
    padding: 0px 0px 0px 10px;
}
.Catalog_2_Body{
    width: 1168px;
    height: 281px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Catalog_2_Body_1{
    width: 217px;
    height: 281px;
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.Catalog_2_Body_1_Name{
    height: 20px;
    padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.Catalog_2_Body_1_Price{
    height: 20px;
    padding-top: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
/*Body Third*/
.Body_Third{
    width: 1165px;
    height: 610px;
    margin: 80px 56px 0px 56px;
}
.Body_Third_Content{
    display: flex;
}
.Body_Third_1{
    width: 568px;
    height: 610px;
}
.Body_Third_1_Text{
    width: 522px;
    height: 268px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 74px 21px;
}
.Body_Third_1_Text_1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 16px;
}
.Body_Third_1_Text_2{
    height: 140px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px; 
    line-height: 26px;
}
.Body_Third_2{
    margin-left: 84px;
}
/*Body_Forth*/
.Body_Forth{
    width: 1168px;
    height: 360px;
    
    margin: 80px 56px 0px 56px;
}
.Body_Forth_Content{
    display: flex;
    background-color: #F3F4F6;
}
.Body_Forth_Text{
    width: 585px;
    height: 184px;
    margin: 88px 0px 88px 97px;
}
.Body_Forth_Tittle{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
}
.Body_Forth_Button{
    width: 152px;
    height: 40px;
    color: #fff;
    background-color: #156963;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-top: 32px;
}
.Body_Forth_Img{
    margin-left: 6px;
}
/*Footer*/
.Footer{
    width: 1280px;
    height: 268px;
    border-color: #fff;
    border-top: #B9D2D0;
    border-style: solid;
    border-width: 1px;
    margin-top: 80px;
}
.Footer_Content{
    display: flex;
    justify-content: space-between;
    width: 946px;
    height: 137px;
    margin: 60px 167px 71px 167px;
}
.Footer_1{
    width: 282px;
}
.Footer_1_1{
    color: #156963;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 24px;
}
.Footer_1_2{
    color: #333333;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}
.Footer_1_3{
    color: #4F4F4F;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.Footer_2,.Footer_3{
    width: 95px;
    height: 82px;
}
.Footer_2_1,.Footer_3_1{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}
.Footer_2_2,.Footer_3_2{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 14px;
}
.Footer_2_3,.Footer_3_3{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.Footer_4{
    width: 234px;
    height: 98px;
}
.Footer_4_1{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    height: 30px;
}
.Footer_4_2{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 9.6px; 
    width: 234px;
    height: 32px;  
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1px;
    padding-left: 13px;
}
.Footer_4_3{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 8px;
    font-weight: 500;
    color: #fff;
    background-color: #156963;
    padding: 4px 12px;
    border-radius: 2px;
}

/*HEADER*/
header{
    position:fixed;
    margin: 0 auto;
}
.Logo{
    width: 36px;
}
.Header__Inner{
    max-width: 1168px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.Header__Search{
    height: 20px;
    background-color: transparent;
    padding: 0px;
}
.Header__Shop{
    margin: 0px 0px 0px 40px;
    width: 20px;
    height: 20px;
}
.menu{
    width: 310px;
    height: 36px;
    display: flex;
    padding-left: 822px;
    align-items: center;
}
.Sign__Up{
    width: 91px;
    margin: 0px 0px 0px 8px;
    color: #156963;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    /*border-style: solid;
    border-color:#156963;
    border-width: 2px;*/
    padding: 8px;
 }
.Sign__In{
    width: 111px;
    height: 36px;
    color: #fff;
    background-color: #156963;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    
}
